@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Shantell+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
   margin: 0 auto; 
   padding:0;
   color:#3a3a3a; 
   background-image: linear-gradient(55deg,#ffbe5a,#6782B4,#B1BFD8);
}
/*  styles */

h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
    
}
  
p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4em;
    
}

header {
  background-image: linear-gradient(30deg, #ffbe5a, #963c96, #3C1874, #963c96);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 100%;
  border-bottom:1px solid #3a3a3a;  
}

a {
  list-style: none;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;

}

li {
    list-style: none;
}

main {
  max-width: 100%;
  height: auto;
  overflow: hidden;

}

section {

}

.boxes {

}

  
  /* navigation */


