@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Shantell+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
   margin: 0 auto; 
   padding:0;
   color:#3a3a3a; 
   background-image: linear-gradient(55deg,#ffbe5a,#6782B4,#B1BFD8);
}
/*  styles */

h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
    
}
  
p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.1em;
    
}

header {
  background-image: linear-gradient(30deg, #ffbe5a, #963c96, #3C1874, #963c96);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 100%;
  border-bottom:1px solid #3a3a3a;  
}

a {
  list-style: none;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;

}

li {
    list-style: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;    
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
section {
    width: calc(55% - 10px);
    margin: 5%;
}

.box-content {
    border: 2px solid #3a3a3a;
}

.box-content iframe {
    display: flex;
    align-items: center;
}


/* video content */


/* remove this later  !!!!!!!!!!!!!!!!!!!!! 
- make sure the adjust the content inside the iframe on smaller screens !!! 
just to keep the inside content sharp... */

iframe {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;
    width: 80%;
    height: 30em;
    object-fit: cover;
    border: 1px solid #3a3a3a;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}


  
  /* navigation */


/* Large screens */
@media screen and (min-width: 915px) and (max-width: 2800px) {
    iframe {
        width: 50%;
        height: 30em;
        object-fit: cover;
        border: 1px solid #3a3a3a; 
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
}

/* laptop medium */
@media screen and (min-width: 658px ) and (max-width: 925px) { 
    iframe {
        width: 50%;
        height: 20em;
        object-fit: cover;
        border: 1px solid #3a3a3a;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
}



/* mobile landscape */
@media screen and (min-width: 451px) and (max-width: 657px) { 
    iframe {
        width: 80%;
        height: 20em;
        object-fit: cover;
        border: 1px solid #3a3a3a;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
    section {
        width: calc(80% - 20px);
        margin: 5%;
    }
}


/* mobile smaller screens */
@media screen and (min-width: 271px) and (max-width: 451px) { 
    iframe {
        width: 90%;
        height: 15em;
        object-fit: cover;
        border: 1px solid #3a3a3a;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
    main {
        text-align: center;
    }
    section {
        width: calc(80% - 20px);
        margin: 5%;
    }
    p {
        text-align: center;
    }
    .box-content {
        border: 2px solid #3a3a3a; /* remove this after its done. */
        text-align: center;
    
    }
    
}